.git
.github

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/

.venv/
.env

.vscode/
.idea/

tests/
test_scripts/

docs/

data_generation/models/
data_generation/monomodel/model/
data_generation/*.py
!data_generation/train.py

data/
reports/

*.log

.DS_Store