pymongo
motor
pydantic
pydantic-settings
transformers
fastapi
uvicorn
python-multipart
dotenv
sentencepiece
protobuf
sacremoses
pyyaml
tqdm
requests
torch
datasets
trl
peft
accelerate
numpy
itsdangerous
librosa
soundfile
# faster-whisper
noisereduce
SpeechRecognition
httpx
modal
pytest
playwright
pytest-playwright
pytest-html
