pymongo
motor
pydantic
pydantic-settings
transformers
fastapi
uvicorn
python-multipart
dotenv
sentencepiece
protobuf
sacremoses
pyyaml
tqdm
requests
torch
numpy
itsdangerous
librosa
soundfile
noisereduce
SpeechRecognition
httpx
modal
pyannote.audio
